body {
    display: grid;
    grid-template-areas: 
            a,
            b,
            c,;
}
.header-container {
    grid-area: a;
    height: 33%;
}

.main-container {
    grid-area: b;
    height: 33%;
    justify-content: center;
    align-items: center;
}

.footer-container {
    grid-area: b;
    height: 33%;
}
#logo {
    justify-content: center;
    align-items: center;
}

#search {
    font-family: system-ui, BlinkMacSystemFont, 'Roboto', arial, sans-serif;
    border-radius: 10px;
}