body {
    display: grid;
    grid-template-areas: 
            "a"
            "b"
            "c";
}
.header-container {
    grid-area: "a";
    height: 33%;
    margin: auto;
    padding: auto;
}

.main-container {
    grid-area: "b";
    height: 33%;
    margin: auto;
    padding: auto;
}

.footer-container {
    grid-area: "c";
    height: 33%;
    margin: auto;
    padding: auto;
}
#logo {
    padding:
}

#search {
    font-family: system-ui, BlinkMacSystemFont, 'Roboto', arial, sans-serif;
    border-radius: 10px;
}